.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-top: 3rem;
  grid-template-rows: 1fr;
  gap: 2em;
  height: 100%;
  margin-bottom: 20px;
}

@media (min-aspect-ratio: 4/3) {
  .grid {
    grid-template-rows: 1fr 0.1fr 1.5fr 2fr;
  }
}

.footerAlign {
  justify-content: center;
  position: relative;
  top: 15vh;
  width: 100%;
  display: flex;
}

.footer {
  top: 15vh;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: left;
}

.footer img {
  max-height: 50px;
  margin-left: 0.5em;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
}
